*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: 1s ease;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  /* color: #0e1636; */
}

a {
  text-decoration: none;
  color: #020927;
}

p {
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
  text-align: center;
}
li {
  display: inline-block;
  text-align: center;
}

span {
  color: #1c379b;
}

/* Container */
.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
}

.header__contacts {
  border-bottom: 0.3px solid rgb(233, 231, 231);
}

.header__info {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__info-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}

.nav ul li {
  margin-right: 60px;
  font-weight: 500;
}

.header__a-mail {
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  padding-right: 30px;
  font-size: 1.25rem;
  color: #0e1636;
}

.header__a-mail-num {
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  font-size: 1.25rem;
  color: #0e1636;
}

.fa-envelope-square {
  font-size: 1.25rem;
  color: #1c379b;
}

.header__info-callback p {
  font-size: 0.75rem;
  color: #1c379b;
}

.header__info-callback p a {
  color: #1c379b;
  text-decoration: underline;
}

.fa-viber {
  color: #7d3daf;
  font-size: 1.2rem;
}

.fa-telegram-plane {
  color: #25a4ff;
  font-size: 1.2rem;
}

.header__a-mail {
  color: #0e1636;
}

/* Header Menu */
.header__menu {
  height: 72px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #0e1636;
  font-weight: 600;
}
/* End Header */

/* Main more */
.main__more-background {
  width: 100%;
  height: 745px;
  display: flex;
  align-items: center;
  background-image: url(/img/main.jpg);
  background-position: center center;
  background-size: cover;
}
.main__more {
  width: 800px;
}
.main__more-centralText {
  font-size: 76px;
  font-weight: 500;
  font-family: "Oswald";
  line-height: 1.2;
  text-transform: uppercase;
  color: #0e1636;
}

.main__more-Text-p {
  font-weight: 400;
  font-size: 18px;
  margin: 36px 0px 40px 0px;
}

.main__more-button {
  height: 70px;
  width: 275px;
  background-color: #1c379b;
  border: none;
  font-family: "Montserrat";
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.main__more-button:hover {
  background: #2846b3;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
/* End Main-more */

/* Main Profile Categories */

.main__profile__categories-p {
  margin-bottom: 50px;
}

.main__profile__categories-p {
  font-family: "Oswald", sans-serif;
  font-size: 46px;
  font-weight: 500;
  width: 980px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 130px;
}

.main__profile__categories-text {
  text-align: center;
}

.main__img-window {
  text-align: center;
}
.main__border {
  padding: 15px;
}

.main__border:hover {
  transition: all 0.45s;
  /* outline: 1px solid; */
  /* border: 1px solid; */
  box-shadow: inset 0 0 0 2px #eee;
}

.main__profile__categories-text {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* End Main Profile Categories */

/* Sponsor */

.sponsor {
  background-image: url(/img/main-manufacters.jpg);
  background-position: center center;
  background-size: cover;
  height: 482px;
  margin-top: 180px;
  text-align: center;
}

.sponsor p {
  color: #fff;
}

.sponsor_img {
  display: flex;
  justify-content: space-evenly;
}

/* End Sponsor */

/* Carousel */
/* 
.carousel-item {
  width: 1005px;
}

.carousel__text-p p {
  text-align: center;
}

.carousel-indicators {
  display: flex;
  position: relative;
}

.carousel-indicators [data-bs-target] {
  width: 200px;
  height: 70px;
  text-indent: initial;
  opacity: initial;
  box-sizing: border-box;
}

.carousel-indicators {
  display: flex;
  position: relative;
  flex-direction: column;
}

.carousel_slider-flex {
  display: flex;
}

.carousel-control-prev {
  background-color: black;
  position: relative;
}

.carousel-control-next {
  background-color: black;
  position: relative;
}

.zxc {
  width: 100px;
  height: 200px;
}

.btn__zxc {
  height: 150px;
  width: 300px;
}

.carousel-inner__textblock {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 504px;
  height: 316px;
  background-color: #fafbff;
  padding: 84px 53px 50px 53px;
}

.carousel__style-p {
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.d-block {
  height: 572px;
  width: 805px;
}

.carousel-inner {
  width: 1000px;
} */

.swiper {
  width: 100%;
  height: 800px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* Work */

.work {
  width: 100%;
  background-image: url(/img/work.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.work p {
  color: #eee;
}

.wrapper__work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.work__categories-img {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 114px;
  width: 114px;
  background-color: #eee;
}

.work__categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work__categories p {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 76px;
  text-transform: uppercase;
}

/* End work */

/* Specialist */
.specialist__p-top {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
}

.specialist__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specialist__block-img {
  display: flex;
  align-items: center;
}

.specialist__block-img img {
  height: 315px;
  width: 100%;
  max-width: 315px;
}

.specialist__block-line {
  border-top: 5px solid #eff2ff;
  border-right: 5px solid #eff2ff;
  width: 660px;
  height: 86px;
  margin-top: 70px;
  margin-left: 70px;
}

.specialist__block-line-right {
  border-top: 5px solid #eff2ff;
  border-left: 5px solid #eff2ff;
  width: 660px;
  height: 86px;
  margin-top: 70px;
  margin-right: 70px;
}

.specialist__block-text {
  width: 305px;
  margin-left: 30px;
}

.specialist__span {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.specialist__h2 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

specialist__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

/* End specialist */

/* Contact-us */

.contact-us {
  width: 100%;
  height: 900px;
  background-image: url(/img/bid.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.contact-us__wrapper {
  height: 900px;
  width: 1920px;
  display: flex;
}

.contact-us-left {
  height: 100%;
  width: 50%;
}

.contact-us-right {
  height: 100%;
  width: 50%;
  background: #091d67c7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-right__wrapper {
  width: 545px;
}

.contact-us-right-h2 {
  font-family: "Oswald", sans-serif;
  font-size: 46px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.contact-us-right-p {
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
}

.contact-us__input-name {
  outline: 0;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: #88151500;
  width: 100%;
  color: white;
  padding-top: 40px;
}

.form-floating:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.contact-us__textarea {
  display: none;
  width: 100%;
  height: 188px;
  border: 1px solid #fff;
  margin-top: 45px;
  background: #88151500;

  color: #fff;
}

.contact-us__button {
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.contact-us__button {
  height: 70px;
  width: 100%;
  background-color: #fff;
  border: none;
  font-family: "Montserrat";
  color: #1c379b;
  padding: 15px 32px;
  margin-top: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.contact-us__button:hover {
  color: #fff;
  background-color: #0e1636;
  border: 1px solid #fff;
  transition: 0.3s;
}

.form-check {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 40px;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
  margin-right: 25px;
}

/* End Contact-us */

/* Footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 386px;
  background-color: #0b194e;
}

.footer__farba {
  border-top: 1px solid silver;
  height: 95px;
}

.footer__nav {
  height: 291px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__farba-logo {
  text-align: center;
  padding-top: 39px;
}

.footer__farba-a {
  color: white;
}

.footer__farba-a img {
  position: relative;
  padding: 0px 15px;
  bottom: 5px;
}

.footer__nav-categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}

.footer__nav-categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 400;
  font-size: 14px;
}

.footer__nav-about {
  height: 100%;
  width: 400px;
}

.footer__nav-vitraz {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.footer__nav-vitraz-logo {
  padding-bottom: 20px;
}

.footer__nav-about-p {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-bottom: 37px;
  text-transform: uppercase;
}

.footer__nav-about-icon {
  padding-top: 35px;
}

.footer__nav-about-p p {
  margin: 0px;
}

.footer__nav-about-text {
  font-family: "Montserrat";
  font-weight: 400;
  opacity: 0.5;
  font-size: 13px;
}

.footer__nav-categories-coopyright {
  padding-bottom: 30px;
  font-size: 13.5px;
  opacity: 0.5;
}

.footer__nav-categories-grid-pd {
  text-align: center;
}

.quadrat {
  margin-top: 30px;
  height: 50px;
  width: 50px;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
}
