.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.slick-slider {
  display: flex;
}

.slider__item img {
  width: 805px;
  height: 572px;
}

.slider .slick-arrow {
  position: absolute;
  top: 0%;
  z-index: 10;
}

.slider .slick-arrow.slick-prev {
  left: 0;
}
.slider .slick-arrow.slick-next {
  left: 66px;
}
/* .slick-slide img {
  position: absolute;
  right: 10%;
} */
